<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>Do you know CI?</title>
</head>
<body>
    <section class='section columns is-mobile'>
        <div class="container column is-half-desktop is-full-mobile is-offset-one-quarter-desktop">
            {% if latest_question_list %}
            <h1 class="title">Do you know CI.</h1>
            <form action="/polls/vote/" method="post" class="box">
            {% csrf_token %}
            {% for question in latest_question_list %}
                <div class="field {% if question.default_hidden %} hidden {% endif %}">
                    <label class="label">{{ question }}</label>
                    {% for choice in question.choice_set.all %}
                    <label class="radio">
                        <input type="radio" name={{ question.id }} value={{ choice.id }}>
                        {{choice}}
                    </label>
                    {% endfor %}
                </div>
            {% endfor %}   
            <button class="button" id="submit" >Submit</button> 
            {% endif %}
            </form>
        </div>
    </section>
    {% load static %}
    <script src="{% static 'javascript/hidden.js' %}"></script>
</body>
</html>